$bg-color: #293241;
$primary-color: #3d5a80;
$second-color: #98c1d9;
$third-color: #e0fbfc;
$fourth-color: #ee6c4d;

@import url("https://use.typekit.net/emq7dwp.css");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gimlet-text, serif;
    width: 100%;
    height: auto;
    background-color: $bg-color;

    .container {
        width: 80%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);

        .logo-container {
            width: 100%;
            height: 80px;
            margin-top: 40px;

            img {
                height: 100%;
                width: auto;
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }

        nav {
            width: 40%;
            height: 40px;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            background-color: $second-color;
            border-radius: 20px;
            margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            .active {
                color: $third-color;
            }

            a {
                text-align: center;
                flex-grow: 1;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
                color: $bg-color;
                transition: .25s ease;

                &:hover {
                    color: $third-color;
                }
            }
        }

        .route-about-box {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-around;
            position: relative;

            .text-box {
                margin-top: 50px;
                width: 400px;
                color: $third-color;

                h3 {
                    font-size: 32px;
                    text-align: right;
                    position: relative;
                    z-index: 10;
                }

                p {
                    font-weight: 300;
                    font-size: 14px;
                }
            }

            .about-images {
                height: auto;
                width: 500px;
            }

            .about-image-one {
                margin-top: 100px;
                width: auto;
                height: 300px;
                position: relative;
                z-index: 10;
            }

            .about-image-two {
                margin-top: 80px;
                width: auto;
                height: 300px;
                position: relative;
                left: 100px;
                z-index: 10;
            }

            .background-filter {
                background-color: $second-color;
                opacity: .3;
                position: absolute;
            }

            .left {
                width: 200px;
                height: 100px;
                left: 0;
                top: 60px;
            }

            .right {
                width: 400px;
                height: 200px;
                right: 0;
                top: 220px;
            }

            .second-right {
                width: 400px;
                height: 200px;
                left: 500px;
                top: 470px;
            }
        }

        .route-contact-box {
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: space-around;

            .left-info {
                width: 400px;
                height: auto;
                margin-top: 50px;

                h2 {
                    color: $third-color;
                }

                p {
                    color: $third-color;
                }
            }

            form {
                width: 500px;
                display: flex;
                flex-direction: column;
                margin-top: 70px;

                input {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid $third-color;
                    margin-top: 15px;
                    outline: none;
                    color: $third-color;
                    padding-bottom: 2px;
                }

                textarea {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid $third-color;
                    margin-top: 15px;
                    outline: none;
                    color: $third-color;
                    font-family: sans-serif;
                    height: 50px;
                }

                .sending-button {
                    border-bottom: none;
                    cursor: pointer;

                    &:hover {
                        color: $second-color;
                    }
                }

                ::placeholder {
                    color: $third-color;
                    font-size: 14px;
                }
            }
        }

        .product-box-gallery {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 70px;
        }

        .product-box-gallery-image {
            width: 250px;
            margin: 5px;
            height: 250px;
            object-fit: fill;

            img {
                height: 100%;
                width: 100%;
                object-fit: fill;
                cursor: pointer;
                border-radius: 20px;

                &:hover {
                    opacity: .7;
                }
            }
        }

        .image-lightbox {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;

            .image-lightbox-opacity {
                height: 100%;
                width: 100%;
                background-color: $third-color;
                opacity: .8;
                position: absolute;
                z-index: 5;
            }

            img {
                position: absolute;
                z-index: 10;
                max-width: 90%;
                max-height: 90%;
            }

            .image-lightbox-close-icon {
                position: absolute;
                color: $bg-color;
                right: 2%;
                top: 2%;
                z-index: 10;
                cursor: pointer;
            }
        }
    }

    footer {
        width: 100%;
        height: 40px;
        margin-top: 50px;
        background-color: $second-color;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;

        p {
            font-weight: 400;
            font-size: 14px;
        }
    }


    @media (max-width: 768px) {
        .container {
            width: 100%;

            .logo-container {
                height: 50px;
            }

            nav {
                width: 90%;

            }

            .route-about-box {
                width: 90%;
                flex-direction: column;
                left: 50%;
                transform: translate(-50%, 0);

                .text-box {
                    width: 90%;
                }

                .about-images {
                    width: 100%;
                }

                .about-image-one {
                    margin-top: 40px;
                    height: auto;
                    width: 300px;
                }

                .about-image-two {
                    margin-top: 40px;
                    height: auto;
                    width: 300px;
                    left: 0;
                }

                .background-filter {
                    display: none;
                }

            }

            .route-contact-box {
                width: 90%;
                height: auto;
                flex-direction: column;
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);

                .left-info {
                    width: 100%;
                    margin-top: 50px;
                }

                form {
                    width: 100%;
                    margin-top: 30px;

                }
            }

            .image-lightbox {
                position: fixed;
                top: 20%;
                height: 70%;
            }
        }
    }
}