@import url("https://use.typekit.net/emq7dwp.css");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gimlet-text, serif;
  width: 100%;
  height: 100%;
  background-color: #293241;
}
body .container {
  width: 80%;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
body .container .logo-container {
  width: 100%;
  height: 80px;
  margin-top: 40px;
}
body .container .logo-container img {
  height: 100%;
  width: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
body .container nav {
  width: 40%;
  height: 40px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #98c1d9;
  border-radius: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container nav .active {
  color: #e0fbfc;
}
body .container nav a {
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #293241;
  transition: 0.25s ease;
}
body .container nav a:hover {
  color: #e0fbfc;
}
body .container .route-about-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  position: relative;
}
body .container .route-about-box .text-box {
  margin-top: 50px;
  width: 400px;
  color: #e0fbfc;
}
body .container .route-about-box .text-box h3 {
  font-size: 32px;
  text-align: right;
  position: relative;
  z-index: 10;
}
body .container .route-about-box .text-box p {
  font-weight: 300;
  font-size: 14px;
}
body .container .route-about-box .about-images {
  height: auto;
  width: 500px;
}
body .container .route-about-box .about-image-one {
  margin-top: 100px;
  width: auto;
  height: 300px;
  position: relative;
  z-index: 10;
}
body .container .route-about-box .about-image-two {
  margin-top: 80px;
  width: auto;
  height: 300px;
  position: relative;
  left: 100px;
  z-index: 10;
}
body .container .route-about-box .background-filter {
  background-color: #98c1d9;
  opacity: 0.3;
  position: absolute;
}
body .container .route-about-box .left {
  width: 200px;
  height: 100px;
  left: 0;
  top: 60px;
}
body .container .route-about-box .right {
  width: 400px;
  height: 200px;
  right: 0;
  top: 220px;
}
body .container .route-about-box .second-right {
  width: 400px;
  height: 200px;
  left: 500px;
  top: 470px;
}
body .container .route-contact-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
body .container .route-contact-box .left-info {
  width: 400px;
  height: auto;
}
body .container .route-contact-box .left-info h2 {
  color: #e0fbfc;
}
body .container .route-contact-box .left-info p {
  color: #e0fbfc;
}
body .container .route-contact-box form {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
body .container .route-contact-box form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e0fbfc;
  margin-top: 15px;
  outline: none;
  color: #e0fbfc;
  padding-bottom: 2px;
}
body .container .route-contact-box form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e0fbfc;
  margin-top: 15px;
  outline: none;
  color: #e0fbfc;
  font-family: sans-serif;
  height: 50px;
}
body .container .route-contact-box form .sending-button {
  border-bottom: none;
  cursor: pointer;
}
body .container .route-contact-box form .sending-button:hover {
  color: #98c1d9;
}
body .container .route-contact-box form ::-moz-placeholder {
  color: #e0fbfc;
  font-size: 14px;
}
body .container .route-contact-box form :-ms-input-placeholder {
  color: #e0fbfc;
  font-size: 14px;
}
body .container .route-contact-box form ::placeholder {
  color: #e0fbfc;
  font-size: 14px;
}
body footer {
  width: 100%;
  height: 40px;
  margin-top: 50px;
  background-color: #98c1d9;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
body footer p {
  font-weight: 400;
  font-size: 14px;
}/*# sourceMappingURL=App.css.map */